/* rwd_seven_main_laptop.css */

/* laptop 1366================================================== */
@media screen and (min-width: 769px) and (max-width: 1366px){
  /* divice 기준크기 : 1366 */

/* commonArea ==================== */



/* .head_all ----------------------- */
.headBox {width: 100%; height: 126px;}
.headBox_02 {margin: auto; margin-top: 18px; clear: both; width: 888px; height: 46px;}
.logo {float: left; text-align: center; width: 156px; height: 40px;}
.map .menu {display: none;}
.menu_01 {margin-left: 190px; margin-right: 20px; float: left; width: 60px; height: 40px; background-color: #777;}
.menu_02 {margin-right: 20px; float: left; width: 60px; height: 40px; background-color: #222;}
.menu_03 {margin-right: 62px; float: left; width: 60px; height: 40px; background-color: #777;}
.menu_04 {margin-right: 20px; float: left; width: 60px; height: 40px; background-color: #222;}
.menu_05 {margin-right: 57px; float: left; width: 60px; height: 40px; background-color: #777;}
.menu_06 {float: left; width: 60px; height: 40px; background-color: #fa0;}

.addBanner {width: 100%; height: 787px;}


/* .indicator ----------------------- */
.view_indicator{width: 16.0625rem; height: 1.625rem;}
.view_indicator>ul>li{float: left; width: 26px; height: 100%; margin-right: 31px;}


/* .oneplus_all ----------------------- */
.oneplus_all {clear: both; width: auto; height: 725px;}
.oneplus_title {float: left; width: 480px; height: 90px;}
.twoplus_title {float: left; width: 480px; height: 90px;}
.gift_all_title {float: left; width: 480px; height: 90px;}
.pb_all_title {float: left; width: 480px; height: 90px;}



/* pb_all ----------------------- */
.pb {display: none;}


/* .service_all ----------------------- */
.service_all {height: 491px;}
.service_head {height: 127px;}
.service_common_03 {width: 197px; height: 67px;}
.service_all_laptop {padding-top: 86px; box-sizing: border-box; margin: auto; width: 982px; height: 198px; background-color: transparent;}

.servicebox_life {float: left; margin-left: 9px; width: 153px; height: 168px; background-color: #ccc;}
.servicebox_life_icon {width: 153px; height: 152px; background-color: #f8a;}
.servicebox_life_title {width: 153px; height: 46px; background-color: #abc;}

.servicebox_card {float: left; margin-left: 9px; width: 153px; height: 168px; background-color: #ccc;}
.servicebox_card_icon {width: 153px; height: 152px; background-color: #f8a;}
.servicebox_card_title {width: 153px; height: 46px; background-color: #abc;}

.servicebox_parcel {float: left; margin-left: 9px; width: 153px; height: 168px; background-color: #ccc;}
.servicebox_parcel_icon {width: 153px; height: 152px; background-color: #f8a;}
.servicebox_parcel_title {width: 153px; height: 46px; background-color: #abc;}

.servicebox_tax {float: left; margin-left: 9px; width: 153px; height: 168px; background-color: #ccc;}
.servicebox_tax_icon {width: 153px; height: 152px; background-color: #f8a;}
.servicebox_tax_title {width: 153px; height: 46px; background-color: #abc;}

.servicebox_giftcard {float: left; margin-left: 9px; width: 153px; height: 168px; background-color: #ccc;}
.servicebox_giftcard_icon {width: 153px; height: 152px; background-color: #f8a;}
.servicebox_giftcard_title {width: 153px; height: 46px; background-color: #abc;}

.servicebox_smartpick {float: left; margin-left: 9px; width: 153px; height: 168px; background-color: #ccc;}
.servicebox_smartpick_icon {width: 153px; height: 152px; background-color: #f8a;}
.servicebox_smartpick_title {width: 153px; height: 46px; background-color: #abc;}


/* 창업, 메뉴 ----------------------- */

.start_menu_all {width: auto; height: 68.95833333333333vw; /* 331/1366*100 */ background-color: #ccc;}
	.start_up {float: left; width: 683px; height: height: 331px; background-color: #fff;}
	.start_up_head {width: 683px; height: 127px; /* 127/1366*100 */ background-color: #44a;}
	.start_up_title {margin: auto; width: 197px; height: 4.1875rem; background-color: #af8;}
	.start_up_Box {width: 650px; height: 14.93411420204978vw; /* 204/1366*100 */ background-color: #fff;}
	.start_up_contentBox {margin: auto; width: 467px; height: 108px; background-color: #85a;}

	.menu_Box {float: left; width: 683px; /* 650/1366*100 */ height: 331px; background-color: #888;}
	.menu_Box_head {width: 683px; height: 127px; background-color: #44a;}
	.menu_Box_title {margin: auto; width: 197px; height: 4.1875rem; background-color: #af8;}
	.menu_Box_02 {width: 650px; height: 14.93411420204978vw; /* 204/1366*100 */ background-color: #fff;}
	.menu_Box_02_contentBox {margin: auto; width: 467px; height: 108px; background-color: #85a;}

	.start_up_common {float: left; width: 9.4375rem; height: 3.0625rem; background-color: #fff;}

/* contentBox ----------------------- */
.advice {display: none;}
.recruit {display: none;}
.consumer {display: none;}
.pc_up_Box {display: none;}
.call {display: none;}
.callBox {display: none;}
.pc {display: none;}
.up {display: none;}




/* footerBox ----------------------- */
.footBox {height: 170px;}
.foot_all {margin: auto; width: 860px; height: 70px;}
.addressBox {float: left; text-align: center; width: 387px; height: 70px;}
.familyBox {margin: auto; width: 860px; height: 28px;}
.family_site {float: right; width: 155px; height: 28px; background-color: #222;}


/*----------------------------------------------------------------*/
} /*laptop end*/