/* rwd_seven_main_common.css */

/* commonArea ==================== */

#wrap {width: 100%; height: auto; min-height: 10rem; background-color: #ccc;}


.head_all {background-color: #EAEAEA;}
.headBox {position: fixed; z-index: 100; width: 100%; background-color: #fff;}
.headBox_02 {background-color: transparent;}
.logo {background-color: #2A9346;}
.map {background-color: #c9a2a2;}
.menu {background-color: #d29c85;}

.addBanner {background-color: #777;}


/* .indicator ----------------------- */
.view_indicator{position: absolute; bottom: 140px; left: 50%; background-color: transparent;}
.view_indicator>ul{width: 100%; height: 100%;}
.view_indicator>ul>li{float: left;}
.view_indicator>ul>li:last-child{margin-right: 0;}
.view_indicator>ul>li>a{display: block; width: 100%; height: 100%; border-radius: 50%; background-color: rgba(225,255,255,0.5); position: relative;}

.view_indicator>ul>li>a:focus,
.view_indicator>ul>li>a:hover{background-color: #2A9346; outline:0;}



.product_all {background-color: #fff;}
.product_head {background-color: #fff;}
.product_title {text-align: center; background-color: #2A9346;}

.product_in_001 {background-color: #ccc;}
.product_in_02 {background-color: #fff;}
.product_in_03 {background-color: #ae3;}

.product_in_002 {background-color: #ccc;}
.product_in_04 {background-color: #fff;}
.product_in_05 {background-color: #ae3;}

.service_common {background-color: transparent;}
.service_common_02 {background-color: #fff;}
.service_icon {background-color: #fcfd83;}



/* .oneplus_all ----------------------- */
.oneplus_all {background-color: #ffd0d0;}


/* .twoplus_all ----------------------- */
.twoplus_all {background-color: #ffe3c0;}


/* .gift_all ----------------------- */
.gift_all {background-color: #ffd0d0;}


/* .pb_all ----------------------- */
.pb_all {background-color: #ffe3c0;}


/* .service_all ----------------------- */
.service_all {background-color: #ffd0d0;}
.service_common_03 {text-align: center;}


/* contentBox ----------------------- */
.advice {background-color: #fff;}
.recruit {background-color: #e0b3e3;}
.consumer {background-color: #fff;}
.call {background-color: #e0b3e3;}
.callBox {background-color: #fff;}
.snsBox {background-color: #fff;}
.sns_01 {margin-right: 32px; float: left; background-color: #9997d0;}
.sns_02 {margin-right: 32px; float: left; background-color: #ab9cd0}
.sns_03 {margin-right: 32px; float: left; background-color: #9997d0;}
.sns_04 {float: left; background-color: #ab9cd0}

/* footBox ----------------------- */
.footBox {background-color: #ccc;}
.addressBox {background-color: #fff;}