/* form_test_02.css */

form, fieldset, legend, label, input, button{margin: 0; padding: 0; border: 0;}

#wrap{width: 100%; height: 100%; background-color:#fff;
background-image: url("../img/bg/gaussian.jpg");
background-repeat: no-repeat; background-position: 50% 50%;}

.companyBox {background: rgba(0, 0, 0, 1); box-shadow: 2px 5px 15px #999; position: fixed; top: 13%; left: 35%;
	border-radius: 5px; width: 596px; height: 693px; background-color: #ccc;}
.logo {text-transform: capitalize; line-height: 100px; font-size: 20pt; text-align: center; margin-left: 190px; margin-top: 93px;
	width: 216px; height: 107px;}


.logBox {margin-top: 60px; margin-left: 114px; width: 370px; height: 180px;}

.email input[type="text"] { border-radius: 3px; border:3px; border-color: #fff;  box-sizing: border-box;
	background-color: transparent; text-indent: 15px; margin-bottom: 30px; width: 370px; height: 50px; }
.password input[type="text"] {border-radius: 3px; border-color: #fff; border:3px; box-sizing: border-box;
	background-color: transparent; text-indent: 15px; margin-bottom: 30px; width: 370px; height: 50px;}
.remember {text-transform: capitalize;}
.remember input[type="checkbox"] {height: 20px;}

.loginBox button[type="submit"] {border-radius: 3px; color: #fff; font-size: 15pt; margin-left: 114px; margin-top: 36px;
	text-transform: uppercase; width: 370px; height: 56px; background-color: #5aafe7;}

.ectBox {margin-left: 114px; margin-top: 23px; width: 370px; height: 20px; background-color: #ccc;}
.register button[type="button"] {text-transform: capitalize; font-size: 12pt; float: left;
	width: 200px; background-color: transparent; color:#fff; height: 20px;}
.forgot button[type="button"] {text-transform: capitalize;
	font-size: 12pt; float: right; width: 170px; background-color: transparent; color:#fff; height: 20px;}

.backBox button[type="reset"] {text-transform: capitalize; font-size: 12pt; margin-left: 114px; margin-top: 19px;
	background-color: transparent; width: 370px; height: 18px; color:#fff;}