/* rwd_seven_main_tablet.css */

/* tablet 768================================================== */
@media screen and (min-width: 481px) and (max-width: 768px){
  /* device 기준크기 : 768px */
<<<<<<< HEAD

/* commonArea ==================== */

.product_all {position: relative; height: 539px;}
.product_head {position: relative; height: 100px;}
.product_title {position: absolute; top: 0.875rem; left: 10.5rem; width: 230px; height: 64px;}

.oneplus_all {clear: both;}

.product_in_001 {float: left; width: 185px; height: 334px;}
.product_in_02 {width: 185px; height: 204px;}
.product_in_03 {width: 185px; height: 129px;}

.product_in_002 {float: right; width: 185px; height: 334px;}
.product_in_04 {width: 185px; height: 204px;}
.product_in_05 {width: 185px; height: 129px;}

.service_common {width: 534px; height: 303px;}
.service_common_02 {width: 228px; height: 303px;}

.service_icon {width: 228px; height: 231px;}
.service_title {height: 72px;}

.content_common {text-align: center; height: 127px;}
.sns_common {width: 80px; height: 80px;}

/* .head_all ----------------------- */
.head_all {height: auto;}
.headBox {height: 116px;}
.headBox_02 {margin-top: 18px; clear: both; width: 710px; height: 72px;}
.logo {float: left; text-align: center; width: 160px; height: 72px;}
.map {float: right; width: 80px; height: 72px;}
.menu {float: right; width: 80px; height: 72px;}
.addBanner {height: 586px;}

/* pb_all ----------------------- */
.pb {position: absolute; top: 140px; left: 90px; width: 407px; height: 333px;}

/* .service_all ----------------------- */

.service_all {height: 1239px;}

.servicebox_all_01 {clear: both; margin: auto; margin-top: 25px; margin-bottom: 20px;}
.servicebox_life {float: left;}
.servicebox_card {float: right;}

.servicebox_all_02 {clear: both; margin: auto; margin-bottom: 20px;}
.servicebox_parcel {float: left;}
.servicebox_tax {float: right;}

.servicebox_all_03 {clear: both; margin: auto; }
.servicebox_giftcard {float: left;}
.servicebox_smartpick {float: right;}


/* contentBox ----------------------- */

.call {position: relative; height: 138px;}
.callBox {position: absolute; top: 40px; left: 80px; margin: auto;
			text-align: center; width: 320px; height: 60px;}
.pc_up_Box {clear: both; height: 80px;}
.pc {float: left; width: 225px; height: 80px; background-color: #efe6ff;}
.up {float: right; width: 225px; height: 80px; background-color: #f5f0ff;}
.snsBox {height: 80px;}
.snsBox_in {width: 296px; height: 50px;}
.sns_01 {float: left;}
.sns_02 {float: left;}
.sns_03 {float: left;}
.sns_04 {float: left;}


/* footerBox ----------------------- */
.footBox {position: relative; height: 168px;}
.addressBox {position: absolute; text-align: center; top: 45px; left: 44px;
		margin: auto; width: 392px; height: 80px;}
=======
#headBox {width: 100%; height: 15.1041667vw; min-height: 2.5vw;}
.container {height: 8.072916vw;}
h1 {width: 20.833333vw; height: 10.677083vw;}
#navBox {width: 24.739583vw; height: 9.375vw;}
#spot {margin-right: 1.25rem; width: 10.416666vw; height: 9.375vw;}
#menu {width: 10.416666vw; height: 9.375vw;}

#addBanner {height: 93.333333vw; /* 448/480*100 */}


/* 1 + 1 */
#infoBox {width: 100%; height: 70.3125vw;}
#infoBox_head {width: 100%; height: 13.02083333333333vw;}
h2 {width: 29.94791666666667vw; height: 8.333333333333333vw;}


.one_plus {margin: auto; clear: both; width: 53.125vw; height: 18.22916666666667vw;}
.one_plus_01 {float: left; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_01 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_01 {width: 24.08854166666667vw; height: 16.796875vw;}

.one_plus_02 {float: right; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_02 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_02 {width: 24.08854166666667vw; height: 16.796875vw;}


/* 2 + 1 */
#infoBox_02 {width: 100%; height: 70.3125vw;}
#infoBox_head_02 {width: 100%; height: 13.02083333333333vw;}
.infoBox_title_02 {width: 29.94791666666667vw; height: 8.333333333333333vw;}


.one_plus_03 {margin: auto; clear: both; width: 53.125vw; height: 18.22916666666667vw;}
.one_plus_01_02 {float: left; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_01_02 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_01_02 {width: 24.08854166666667vw; height: 16.796875vw;}

.one_plus_04 {float: right; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_02_02 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_02_02 {width: 24.08854166666667vw; height: 16.796875vw;}


/* 증정 */
#infoBox_03 {width: 100%; height: 70.3125vw;}
#infoBox_head_03 {width: 100%; height: 13.02083333333333vw;}
.infoBox_title_03 {width: 29.94791666666667vw; height: 8.333333333333333vw;}


.one_plus_05 {margin: auto; clear: both; width: 53.125vw; height: 18.22916666666667vw;}
.one_plus_01_03 {float: left; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_01_03 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_01_03 {width: 24.08854166666667vw; height: 16.796875vw;}

.one_plus_06 {float: right; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_02_03 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_02_03 {width: 24.08854166666667vw; height: 16.796875vw;}


/* PB */
#infoBox_04 {width: 100%; height: 70.3125vw;}
#infoBox_head_04 {width: 100%; height: 13.02083333333333vw;}
.infoBox_title_04 {width: 29.94791666666667vw; height: 8.333333333333333vw;}


.one_plus_07 {margin: auto; clear: both; width: 53.125vw; height: 18.22916666666667vw;}
.one_plus_01_04 {float: left; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_01_04 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_01_04 {width: 24.08854166666667vw; height: 16.796875vw;}

.one_plus_08 {float: right; width: 24.08854166666667vw; height: 43.359375vw;}
.one_plus_photo_02_04 {width: 24.08854166666667vw; height: 26.5625vw;}
.one_plus_text_02_04 {width: 24.08854166666667vw; height: 16.796875vw;}
>>>>>>> 7f97bf376c5d5dc872ced5a792ac5193e8b88126

}/* //end tablet 768 */