/* rwd_03_pcfull.css */


/* laptop 1366================================================== */
@media screen and (min-width: 769px) and (max-width: 1366px){
  /* divice 기준크기 : 1366 */
  #wrap {width: 100%; background-color: #f50;}
  #addBanner {height: 32.942899vw; /* 450/1366*100 */ min-height: 28.125rem; min-height: 37.5rem;}
  #infoBox {height: 13.125rem;}
  #contentBox {height: 33.75rem;}

}